body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h2{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-weigth{
    width: 50%;
    margin:0px 100px;
}
.half-weigth img{
   width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.dream-bg{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiences-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experiences-items{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding:0px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.experiences-items h2{
    font-size: 40px;
}
.half-width h3{
    color: orange;
}
#full-stack-webDeveloper{
    border-left: 7px solid tomato;
}
#baby-web-developer{
    border-left: 7px solid blue;
}
footer p{
    text-align: center;
}